* {
  margin: 0; 
  padding: 0;
}

body {
  height:1080px;
  width: 100%;
}



.header-warapper {
  text-align: center;
  padding-top: 30px;
}

.header-warapper p {
  margin-top:10px;
}

.reserve-link {
  text-align: center;
  padding-top: 30px;
}

#main-pic {
  height: 150px;
  width: 150px;
}

.main-prof {
  margin-top: 30px;
}

.register {
  
  width: 100%;
}

.container {
  padding-top: 200px;
  display: flex;
  flex-direction: row;
  /* justify-content: space-around;  */
  justify-content: space-around;
}




.name {
  cursor: pointer; 
  height:30px; 
  width: 200px;
  font-size: 100%;
  text-align: center;
}

/* email　全て入力できるようにする */
.email {
  padding-left: 15px;
  padding-right: 15px;
 cursor: pointer; 
 height:30px; 
 width: 200px;
 font-size: 90%;
 text-align: center;
}

.pin {
  cursor: pointer; 
  height:30px; 
  width: 200px;
  font-size: 100%;
  text-align: center;
}

#submit {
  padding-top: 100px; 
}

/* hover　後でつける */
.sub {
  height: 50px;
  width: 150px;
  background: rgb(124, 110, 214);
  border-radius: 5%;
  cursor: pointer; 
  color:white; 
  display: block;
  margin-left: auto;
  margin-right: auto
}


.reserve-link {
  line-height: 50px;
  /* 
  height:100px;
  width:500px;
  border : 2px solid rgb(240, 144, 240); */
  
} 

.back-color {
  background-color:yellow;
}

/* reserve.php */
.requiredText {
  line-height: 200px;
  text-align: center;
  user-select: none; /*テキストを選択させないようにできる*/
}