* {
  margin: 0; 
  padding: 0;
}

body {
  height:1080px;
  width: 100%;
  user-select: none; 
}

/* index.php */
.header-warapper {
  text-align: center;
  padding-top: 30px;
}

.header-warapper p {
  margin-top:10px;
}

.error-box {
  margin-top:3%;
}

#error-msg {
  color: red;
}

.login-container {
  margin-top:50px;
  height: 200px;
  width: 100%;
  background-color: rgb(124, 110, 214);
  padding-top: 50px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.login-container label {
  font-size: 13px;;
  color:whitesmoke;
  letter-spacing: 0.1em;
  font-weight: bold;
  padding-right: 8%;
}


#index-email {
  height:30px; 
  width: 200px;
  cursor: pointer; 
}

#index-pin {
  height:30px; 
  width: 200px;
  cursor: pointer; 
}

#index-login {
  height: 50px;
  width: 150px;
  background: rgb(240, 236, 30);
  border-radius: 5%;
  cursor: pointer; 
  color:white; 
  display: block;
  margin-left: auto;
  margin-right: auto
}

.auto-login {
  padding-left: 25%;
  padding-right: 20%;
}

.auto-login label {
  cursor: pointer; 
}

.auto-login input {
  cursor: pointer; 
}

.register-link {
  text-align: center;
  padding-top: 30px;
  line-height: 50px;
}

.register-link p {
  font-size: 15px;
}

#main-pic {
  height: 150px;
  width: 150px;
}

.main-prof {
  margin-top: 30px;
}

.register {
  
  width: 100%;
}

.container {
  padding-top: 200px;
  display: flex;
  flex-direction: row;
  /* justify-content: space-around;  */
  justify-content: space-around;
}




.name {
  cursor: pointer; 
  height:30px; 
  width: 200px;
  font-size: 100%;
  text-align: center;
}

/* email　全て入力できるようにする */
.email {
  padding-left: 15px;
  padding-right: 15px;
 cursor: pointer; 
 height:30px; 
 width: 200px;
 font-size: 90%;
 text-align: center;
}

.pin {
  cursor: pointer; 
  height:30px; 
  width: 200px;
  font-size: 100%;
  text-align: center;
}

#submit {
  padding-top: 100px; 
}

/* hover　後でつける */
.sub {
  height: 50px;
  width: 150px;
  background: rgb(124, 110, 214);
  border-radius: 5%;
  cursor: pointer; 
  color:white; 
  display: block;
  margin-left: auto;
  margin-right: auto
}


.back-color {
  background-color:yellow;
}
/* index.php */

/* reserve.php */
.requiredText {
  line-height: 200px;
  text-align: center;
  user-select: none; /*テキストを選択させないようにできる*/
}

/*calendar.php*/
.calendar-container {
  height:900px;
  width:80%;
  padding-left: 20%;
  padding-right: 20%;
}


.calendar-table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}
.calendar-table th,
.calendar-table td{
  border: 1px solid #ebeced;
  padding: 10px;
}

.calendar-table .header {
  background-color: #4c586f;
  color: #fff;
  font-size: 12px;
  text-align: left;
}

.month {
  text-align: center;
  width: 100%;
}

.month a {
  color: #4a80d6;
}

.left {
  float: left;
}

.right {
  float: right;
}

.day {
  height: 100px;
}